{% extends "main/layout.html" %}

{% block content %}
{% load static %}
    <script>
        document.addEventListener('DOMContentLoaded',function (){
                    // clear all comments input once the page is loaded 
            document.querySelector("#comments").value = '';
            // clear the comment once the user submit the form 
            document.querySelector('form').onsubmit = () => {
                document.querySelector("#comments").value = '';


            return false;
            
         }        
        });



    </script>

    <div class="grid grid-cols-auto">

        <h3>home page</h3>
        <div class="item-center mx-auto">
            <div class="w-full bg-white-100 rounded-lg border w-full">
                <div>
                    <a href="#" class="rounded-lg bg-gray-100 w-full">make a post</a>
                </div>
                
            </div>
            {% for item in posts %}

               <div class="grid grid-cols-1 bg-gray-100 border rounded-lg mt-10">
                
                    <div>
                    <a href="{% url 'comment' item.id %}" class="text-red-400 rounded-lg py-1 px-1 ">{{ item.name }}</a>
                    <p class="py-3 px-1 bg-white-100 ">{{item.text}}</p>
                    </div>
                    <div>
                        {% if item.image %}
                        <img src="{{ item.image.url }}" alt="" class=" " >
                        {% endif %}
                    </div>
                    <div>

                    </div>
                    <form method="post" action="{% url 'comment' item.id %}">
                        <div class="grid grid-cols-3">
                            {% csrf_token %}

                            <div class="mt-10">
                                <input type="text" placeholder="comment.." name="comment" class="bg-white-100 border rounded-lg w-full px-1 mt-5" id="comments">

                            </div>
                           
                            <div class="mt-12">
                                <button type="submit" class="bg-gray-300 rounded-xl py-3 px-1 hover:bg-gray-600">send</button>

                            </div>
                            <div class="mt-10 ml-25">
                                <a href="{% url 'comment' item.id %}" class="ml-2 py-1 px-1 bg-blue-300 rounded-lg hover:bg-blue-500">Details</a>

                            </div>

            
                            
                           
                        </div>
                    </form>
                    
               </div>
           

            {% endfor %}
        </div>   
    </div>
   
{% endblock %}